.background-full{
  position:relative;
  background:url("../../assets/img/scenery.jpg");
  background-size:cover;
  padding:40px 56px;
  &.fixed-bg{
    background-attachment: fixed;
  }
  &.min-height-bg{
    min-height:400px;
  }
}
.paper{
  &.abs-paper{
    position:absolute;
    top:56px;
    left:56px;
    @media #{$medium-and-down}{
      top:56px;
      left:32px;
    }
    @media #{$small-and-down}{
      top:32px;
      left:24px;
    }
  }
  padding: 16px 56px 16px;
  max-height:300px;
  overflow:hidden;
  @media #{$medium-and-down}{
    padding: 16px 32px 16px;
  }
  @media #{$small-and-down}{
    padding: 16px 24px 16px;
    max-width:200px;
  }
  z-index:2;
  @extend .z-depth-2;
  display:inline-block;
  max-width:300px;
  box-sizing: border-box;
}


.map-full{
  position:relative;
  min-height:480px;
}
.map-view{
  height:100%;
  min-height: 480px;
  position:relative;
}
.abs-overlay{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}
.padding-box{
  padding:56px 28px;
  @media #{$large-and-down}{
    padding: 48px 24px;
  } @media #{$medium-and-down}{
    padding: 32px 16px;
  }
  @media #{$small-and-down}{
    padding: 16px 8px;
  }
}