.dialog-sheet-togge{

}

.dialog-sheet{
  display:none;
  height:auto;
  width:auto;
  position:fixed;
  z-index:1000;
  overflow-y:auto;
  box-sizing: border-box;
  background:transparent;
  img{
    height:300px;
    width:100%;
    @media #{$medium-and-down} {
      height:160px;
    }
  }
  &.bg-white{
    background:white;
    @extend .z-depth-4;
  }

  &.hidden{
    display:none;
 }
  &.active{
    display:block;
  }
}

