


.side-nav{
  background:color("grey","lighten-4");
  flex-grow:1;
  display:block;
  margin:0;
  z-index:999;
  position:fixed;
  top:0;
  left:0;
  width:240px;
  bottom:0;
  @include transition(all 0.5s);
  box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
  ul{
    padding: 0;
    margin: 0;
    overflow-y:auto ;
    display:block;
    max-height: 100%;
  }
  li{
    padding:0;
    &:hover{
     a{
      background-color: #ddd;
      }
    }
    &:active {
      a{
        background-color:color("grey","darken-4");
        color:white;
      }
    }

    &.head{
      height:64px;
      line-height:64px;
      a{
        background:color("light-blue","base");
        color:white;
        padding:0 32px;
      }
    }
  a{
    color:color("grey","darken-4");
    font-weight:700;
    background-color:white;
    display:block;
    padding:16px 32px;
  }


  }

  .content{

  }

    @media #{$large-and-down}  {
      @include box-shadow-2(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
      will-change: left;
      position: fixed;
      width: 240px;
      left: -240px;
      top: 0;
      background-color: #FFF;
      z-index: 999;
      li {
        float: none;
        &:hover, &.active { background-color: #ddd; }
      }
      a {
        color: #444;
      }
    }
  @media #{$huge-and-up}  {
      left:0 !important;
  }
  .dropdown-rel{
    .dropdown-menu{
      li{
          a{
            font-weight:300;
            background:white;
            color:color("grey","darken-4");
            font-size:small;
          }
        &:active {
          a{
            color:color("light-blue","darken-3");
          }
        }
      }
    }
  }
    }

#sidenav-overlay {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  background-color: rgba(0,0,0,.5);
  z-index: 998;
  will-change: opacity;
  @media #{$huge-and-up}  {
      display:none;
  }
}